.settings
*.iml
.gradle
.idea
.springBeans
*.bin
*.lock
bin
out/
gradle
target/
build/
.classpath
.project
*.log
gradlew
gradlew.bat
bower_components/
node_modules/
pom.xml.versionsBackup
schema_MySQL5Dialect.sql